@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');
/* media query for forum login */

/*  */
body {
  font-size: 1em;
  margin: 0;
  padding: 0;
  background-color: #F5F5DC;
  font-family: 'Epilogue', sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  color: #3F4045;
  font-size: 2em;
}

.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
  border-bottom: 5px solid black;
  background-color: #F5F5DC;
  height: 65px;
  display: flex;
}

nav img {
  width: 15em;
  height: auto;
  cursor: pointer;
}

.nav__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  flex: 1;
}

.nav_decorator {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 10em;
  height: 0.5em;
  background: #FCFCFC;
  border: 3px solid #000000;
  border-radius: 20px;
}

.nav__container--left a {
  font-style: normal;
  font-size: 2em;
  color: #3F4045;
  margin-right: 20px;
  margin-left: 20px;
}

.nav__container--right a,
club-name {
  font-style: normal;
  font-size: 1.7em;
  color: #3F4045;
  margin-right: 20px;
  margin-left: 20px;
}

p {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.4rem;
}

.signup-form {
  margin: 170px auto -20px;
  width: 16em;
  padding: 20px;
  border: 3px solid #333;
  border-radius: 22px;
  background: #B8ADAD;

}


.home-grid {
  margin: 50px auto;
  width: 70%;
  padding: 20px;
  border: 3px solid #333;
  border-radius: 22px;
  background: #B8ADAD;


}

.event-container {
  display: flex;
  flex-direction: column;
}

.event {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.event-details {
  flex-direction: column;
  margin-right: 20px;
}

.book-now {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.more-info {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.accountbox {
  margin: 50px auto -20px;
  width: 14em;
  padding: 0px 20px;
  border: 3px solid #333;
  border-radius: 22px;
  background: #B8ADAD;
}

.accountbox p {

  font-size: 100%;
  text-align: center;
}

.signup-form form {
  display: flex;
  flex-direction: column;
}

/* for the big text ur pw reset one */

.signup-form h2 {
  text-align: center;
  margin-bottom: 1em;
}

.signup-form label {
  margin-bottom: .5em;
  font-family: 'Epilogue', sans-serif;
  font-size: 1.7em;
  color: #3F4045;
  line-height: 120%;
  text-align: center;
}


.signup-form input[type="email"],
.signup-form input[type="text"],
.signup-form input[type="password"],
.signup-form input[type="submit"] {
  padding: 10px;
  align-items: center;
  border-radius: 5px;
  background: white;
  border: 3px solid #000000;
  border-radius: 20px;
  margin: 0 auto 20px auto
}

.signup-form input[type="email"],
.signup-form input[type="text"],
.signup-form input[type="password"] {
  width: 80%;
}

.signup-form input[type="submit"] {
  width: 40%;
}

.signup-form input[type="email"]:hover,
.signup-form input[type="text"]:hover,
.signup-form input[type="password"]:hover {
  box-shadow: 0 5px #666;
}


.eventsButton {
  padding: 1em;
  background: white;
  font-family: 'Epilogue', sans-serif;
  color: #ed2626;
  font-size: 20px;

  font-weight: bold;
  border-radius: 1px;
  border: 5px solid #ed2626;

}

.eventsButton2 {
  padding: 1em;
  background: white;
  font-family: 'Epilogue', sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  border-radius: 1px;
  border: 5px solid #333;

}

.button {
  width: 30%;
  padding: 2px;
  padding-top: 5px;
  background: white;
  ;
  border-radius: 5px;
  border: 3px solid #000000;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
}

.button2 {
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  background: white;
  border: 3px solid #000000;
  border-radius: 20px;
  text-align: center;
  margin: 30px auto 100px auto;
  color: #000000;
  font-family: 'Epilogue', sans-serif;
  font-size: 1.2rem;
}

.eventsButton:hover {
  box-shadow: 0 5px #666;
}

.eventsButton:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.button:hover {
  box-shadow: 0 5px #666;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button2:hover {
  box-shadow: 0 5px #666;
}

.button2:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.tick-image {
  width: 2em;
  height: auto;
}


.signup-form input[type="submit"]:hover {
  background-color: #555;
}

form p {
  text-align: center;
  color: #3F4045;
  font-size: 1.2em;
  margin: 0 0 45px;
}


form a p {
  color: #3F4045;
  font-size: 1.2em;
  margin: 30px 0 45px;
  text-align: center;
}

button form p {
  margin: 50px 0 10px 0px;
  color: #3F4045;
  text-align: center;
}

@media (max-width: 588px) {
  .right-nav a {
    font-size: 1.4em;
    margin-right: .9em;
  }
}

@media (max-width: 588px) {
  .right-home-nav a {
    font-size: 1.3em;
    margin-left: 1.1em;
    margin-right: .8em;
  }
}

.btn {
  margin-left: 15%;
  width: 70%;
  padding: 20px;
  border: 3px solid #333;
  border-radius: 22px;
  background-color: #D9D9D9;
  margin-bottom: 50px;

}