@media (min-width: 1201px) {

    body {
        background: #f5f5dc;
        overflow-x: hidden;
    }

    .main {
        background: #f5f5dc;
        width: 900px;
        margin: 0 auto;
        position: relative;
        margin-top: 10%;
        box-shadow: 2px 5px 20px;

    }

    .leftcontent {

        top: 20%;

        position: fixed;

        height: 650px;
        background: #5d737eff;
        box-shadow: 3px 3px 10px;
        border: solid white;
    }

    .topContent {
        border: solid white;
        background: #5d737eff;
        height: 44px;
        top: 0%;
        right: 0%;
        width: 100%;
        position: fixed;

    }

    .exit a {
        font-size: 1.1em;
        padding: 13px;
        color: white;
        float: right;
        margin-right: 20px;
        transition: all .3s ease-in-out;
        display: block;

    }

    .exit :hover {

        color: black;
        cursor: pointer;
        transform: scale(1.3);
    }


    .Vnav a {
        list-style: none;
        padding: 34px;
        padding-top: 65px;
        color: white;
        font-size: 1.1em;
        display: block;
        transition: all .3s ease-in-out;
    }

    .Vnav a:hover {
        color: black;
        cursor: pointer;
        transform: scale(1.5);
    }

    .Vnav a:first-child {
        margin-top: 12px;
    }

    .Vnav a.active {
        color: black;
    }

    .rightcontent {
        width: 500px;

        margin-left: 27%;
    }

    .tabShow {
        transition: all .5s ease-in;
        width: 80%;
    }

    h1 {
        font-family: monospace;
        font-size: 2.3rem;
        width: 500px;
        margin-top: 40px;
        margin-bottom: 35px;
    }

    h2 {
        color: darkgrey;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        letter-spacing: 2px;
        margin-bottom: 0;
        margin-top: 10px;
        border: none;
        padding-top: 20px;
        padding-left: 10px;
        padding-bottom: 20px;
        background: #f4f4f5ff;
    }

    .input {
        border: 0;
        border-bottom: 1px solid blue;
        width: 290px;
        font-size: 1.5em;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        outline: none;
        margin-bottom: 20px;
        padding-right: 80px;
        background: #f4f4f5ff;

    }

    .Radioinput {
        width: 10px;
        padding: 10px 0;
        margin: 10px;
        height: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .updateBtn {
        font-family: monospace;
        text-transform: uppercase;
        font-size: 15px;
        margin: 10px;
        color: white;
        background: #5d737eff;
        outline: none;
        border-color: white;
        box-shadow: 0px 2px 4px 0px;
    }

    .box {
        background: #f4f4f5ff;
        padding: 10px;
        margin-top: 40px;
        outline-style: solid;
        outline-width: 5px;
        border-radius: 10px;
    }

    #user {
        padding-top: 30px;
    }

    #B_events {

        outline-style: solid;
        outline-width: 5px;
        border-radius: 10px;
        padding-bottom: 20px;
        padding-left: 10px;
        width: 342px;
        padding-top: 5px;
        margin-bottom: 25px;
        padding-right: 50px;
        margin-right: 150px;

        background: #f4f4f5ff;
    }

    .EnrolledEvents {
        padding-bottom: 10px;
    }
}

@media (max-width: 1200px) {
    body {

        background: #f5f5dc;
        overflow-x: hidden;
    }

    .main {
        background: #f5f5dc;
        width: 100%;
        margin: 0 auto;
        position: relative;
        margin-top: 10%;
        box-shadow: 2px 5px 20px;

    }

    .leftcontent {

        top: 20%;

        position: fixed;

        height: 310px;
        background: #5d737eff;
        box-shadow: 3px 3px 10px;
        border: solid white;
    }

    .topContent {
        border: solid white;
        background: #5d737eff;
        height: 44px;
        top: 0%;
        right: 0%;
        width: 100%;
        position: fixed;
        z-index: 5;

    }

    .exit a {
        font-size: 1.1em;
        padding: 13px;
        color: white;
        float: right;
        margin-right: 20px;
        transition: all .3s ease-in-out;
        display: block;

    }

    .exit :hover {

        color: black;
        cursor: pointer;
        transform: scale(1.3);
    }


    .Vnav a {
        list-style: none;
        padding: 20px;
        padding-top: 20px;
        color: white;
        font-size: 1em;
        display: block;
        transition: all .3s ease-in-out;
    }

    .Vnav a:hover {
        color: black;
        cursor: pointer;
        transform: scale(1.5);
    }

    .Vnav a:first-child {
        margin-top: 12px;
    }

    .Vnav a.active {
        color: black;
    }

    .rightcontent {
        width: 500px;

        margin-left: 27%;
    }

    .tabShow {
        transition: all .5s ease-in;
        width: 80%;
    }

    h1 {
        font-family: monospace;
        font-size: 2.3rem;
        width: 500px;
        margin-top: 40px;
        margin-bottom: 35px;
    }

    h2 {
        color: darkgrey;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        letter-spacing: 2px;
        margin-bottom: 0;
        margin-top: 10px;
        border: none;
        padding-top: 20px;
        padding-left: 10px;
        padding-bottom: 20px;
        background: #f4f4f5ff;
    }

    .input {
        border: 0;
        border-bottom: 1px solid blue;
        width: 290px;
        font-size: 1.5em;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        outline: none;
        margin-bottom: 20px;
        padding-right: 80px;
        background: #f4f4f5ff;

    }

    .Radioinput {
        width: 10px;
        padding: 10px 0;
        margin: 10px;
        height: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .updateBtn {
        font-family: monospace;
        text-transform: uppercase;
        font-size: 15px;
        margin: 10px;
        color: white;
        background: #5d737eff;
        outline: none;
        border-color: white;
        box-shadow: 0px 2px 4px 0px;
    }

    .box {
        background: #f4f4f5ff;
        padding: 10px;
        margin-top: 40px;
        outline-style: solid;
        outline-width: 5px;
        border-radius: 10px;
    }

    #user {
        padding-top: 30px;
    }

    #B_events {

        outline-style: solid;
        outline-width: 5px;
        border-radius: 10px;
        padding-bottom: 15px;
        padding-left: 10px;
        width: 342px;
        padding-top: 5px;
        margin-bottom: 20px;
        padding-right: 50px;
        margin-right: 150px;

        background: #f4f4f5ff;
    }

    .EnrolledEvents {
        padding-bottom: 10px;
    }
}

@media (max-width: 900px) {
    body {
        background: #f5f5dc;
        overflow-x: hidden;
    }

    .main {
        background: #f5f5dc;
        width: 100%;
        margin: 0 auto;
        position: relative;
        margin-top: 10%;
        box-shadow: 2px 5px 20px;

    }

    .leftcontent {

        top: 10%;

        position: fixed;
        display: none;
        height: 165px;
        background: #5d737eff;
        box-shadow: 3px 3px 10px;
        border: solid white;
    }

    .topContent {
        border: solid white;
        background: #5d737eff;
        height: 44px;
        top: 0%;
        right: 0%;
        width: 100%;
        position: fixed;
        z-index: 5;

    }

    .exit a {
        font-size: 1.1em;
        padding: 13px;
        color: white;
        float: right;
        margin-right: 20px;
        transition: all .3s ease-in-out;
        display: block;

    }

    .exit :hover {

        color: black;
        cursor: pointer;
        transform: scale(1.3);
    }


    .Vnav a {
        list-style: none;
        padding: 20px;
        padding-top: 0px;
        color: white;
        font-size: .7em;
        display: none;
        transition: all .3s ease-in-out;
    }

    .Vnav a:hover {
        color: black;
        cursor: pointer;
        transform: scale(1.5);
    }

    .Vnav a:first-child {
        margin-top: 12px;
    }

    .Vnav a.active {
        color: black;
    }

    .rightcontent {
        width: 500px;
        align-items: center;
        margin: auto;
    }

    .tabShow {
        transition: all .5s ease-in;
        align-items: center;
        margin: auto;

    }

    h1 {
        font-family: monospace;
        font-size: 1.5rem;
        width: 500px;
        margin-top: 40px;
        margin-bottom: 35px;
    }

    h2 {
        color: darkgrey;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        letter-spacing: 2px;
        margin-bottom: 0;
        margin-top: 10px;
        border: none;
        padding-top: 20px;
        padding-left: 10px;
        padding-bottom: 20px;
        background: #f4f4f5ff;
    }

    .input {
        border: 0;
        border-bottom: 1px solid blue;
        font-size: 1em;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        width: 190px;
        margin-bottom: 20px;
        padding-right: 50px;
        margin-right: 150px;

        background: #f4f4f5ff;

    }

    .Radioinput {
        width: 10px;
        padding: 10px 0;
        margin: 10px;
        height: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .updateBtn {
        font-family: monospace;
        text-transform: uppercase;
        font-size: 15px;
        margin: 10px;
        color: white;
        background: #5d737eff;
        outline: none;
        border-color: white;
        box-shadow: 0px 2px 4px 0px;
    }

    .box {
        background: #f4f4f5ff;
        padding: 0px;
        margin-top: 40px;
        width: 250px;
        outline-style: solid;
        outline-width: 5px;
        border-radius: 10px;
    }

    #user {
        padding-top: 30px;
    }

    #B_events {

        outline-style: solid;
        outline-width: 5px;
        border-radius: 10px;
        padding-bottom: 15px;
        padding-left: 4px;
        width: 248px;
        margin-bottom: 20px;
        padding-right: 0px;
        margin-right: 150px;

        background: #f4f4f5ff;
    }

    .EnrolledEvents {
        padding-bottom: 10px;
    }
}